.minieditor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minieditor .ch-frame{
  box-shadow: none;
}

.minieditor .ch-frame-content {
  background: #1e1e1e;
  height: auto;
}

.minieditor .cs-container {
  height: auto !important;
}

.minieditor .cs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  overflow: visible;
  padding: 24px;
}

.minieditor .cs-scaled-content > div:first-child, .minieditor .cs-scaled-content >  div:last-child  {
  display: none;
}

.minieditor .cs-scaled-content > div  {
  transform: none !important;
}
